@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Here is our platform for all you comic book lovers.</p>
<p>We Have everything from </p>your favourite comic books, to your favourite Creators and Drsigners.</p>

