@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Comic book Store</h1>
    <p> The Web Application that allows for users to see what is avaiable in Store and what is avaiable for collection</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Search </h2>
        <p>
            Search the store in search of your favourite comics. there should be something for everybody to like in our store
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more</h2>
        <p>Look for anything you want. We have some original content from Bob Kane to Stan Lee and many more Autors and Creators</p>
        
    </div>
    <div class="col-md-4">
        <h2>Genres</h2>
        <p>We have Multiple different Genres to choose from, if its a drama or superhero comics or even advaenture. We have it all here </p>
    </div>
</div>